.text-center{
  margin: 35px 0px;
}
h4{
  margin-left: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.bi-cup-hot{
  margin-right: 6px;
  margin-bottom: 7px ;
}
